{% load static%}
<link rel="stylesheet" href="{% static 'notes.css' %}">
<div class="container">
    <div id="notes-list">
        {% for note in all_note %}
        <div class="note">
            <p>{{note.content}}</p>
            <a href="{% url 'delete' note.id %}?next = alll_notes">
            <button class="delete-btn">❌</button>
            </a>
        </div>
        {% endfor %}
        <a href="go_back">
            <button>GO BACK</button>
        </a>
    </div>
</div>



